<!-- <h1>this is message{{home.message}}</h1> -->
<router-outlet></router-outlet>
<!-- <input type="text" [(ngModel)]="Name" (ngModelChange)="HandleInputChange($event)">
<input type="email" [value]="email">

<h1>MY name is {{Name}}</h1>
<h1>MY email is {{email}}</h1>
<button (click)="clear()">Clear</button> -->
<!-- <table [ngClass]="'table'">
    <tr>
    <th>ID</th>
    <th>CourseName</th>
    <th>Price</th>
</tr>

<tr *ngFor="let c of courses" [ngStyle]="{'background-color': c.CourseName === 'Angular' ? 'green' : 'red'}">
    <td>{{c.id}}</td> 
    <td>{{c.CourseName}}</td> 
    <td>{{c.Price}}</td> 
    
</tr>
</table>

<button (click)="ToogleFun()">Toogle</button>
<span *ngIf="isUpdated">This Message</span>

 -->
